<nav class="navbar navbar-expand-lg navbar-dark" style = "background-color: #6a05a1;">
  <div class="container-fluid">
   
    <a class="navbar-brand fw-bold text-center px-3" href="/">Walrus Developing</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- add dropdown and dropdown-link to the nav item and then the link one to the navlink to get about page back pages -->
        <li class="nav-item  ">
          <a class="nav-link  " href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Record Workout
          <!-- 
            <% if current_page?(root_path) %>
              Record Workout
            <% else %>
              About
            <% end %>
          -->
          </a>

          <!--
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/">Record Workout</a></li>
            <% if current_page?(root_path) %>
              <li><a class="dropdown-item" href="/home/about">About</a></li>
            <% else %>
              <li><a class="dropdown-item" href="/">Record Workout</a></li>
            <% end %>
          -->
          </ul>
        </li>
      </ul>
      <span class="navbar-text">
        <!--
          <% if current_page?(root_path) %>
            Record Workout
          <% else %>
            About
          <% end %>
        -->
      </span>
    </div>
  </div>
</nav>